<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Core" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.5.1" newVersion="1.11.5.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="QuestionServiceSoap" maxBufferPoolSize="20000000"
     maxReceivedMessageSize="20000000">
     <security mode="Transport" />
    </binding>
    <binding name="StudentServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="ManagerServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="StudentResultServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="StudentResponseServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="ExamServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="SubjectApiServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="ExamServiceSoap1" />
    <binding name="ManagerServiceSoap1" />
    <binding name="QuestionServiceSoap1" />
    <binding name="StudentServiceSoap1" />
    <binding name="StudentResponseServiceSoap1" />
    <binding name="StudentResultServiceSoap1" />
    <binding name="SubjectApiServiceSoap1" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="https://bsite.net/chimlachoai/Services/ExamService.asmx"
    binding="basicHttpBinding" bindingConfiguration="ExamServiceSoap"
    contract="Bi.Exam.ExamServiceSoap" name="ExamServiceSoap" />
   <endpoint address="https://bsite.net/chimlachoai/Services/ManagerService.asmx"
    binding="basicHttpBinding" bindingConfiguration="ManagerServiceSoap"
    contract="Bi.Manager.ManagerServiceSoap" name="ManagerServiceSoap" />
   <endpoint address="https://bsite.net/chimlachoai/Services/QuestionService.asmx"
    binding="basicHttpBinding" bindingConfiguration="QuestionServiceSoap"
    contract="Bi.Question.QuestionServiceSoap" name="QuestionServiceSoap" />
   <endpoint address="https://bsite.net/chimlachoai/Services/StudentService.asmx"
    binding="basicHttpBinding" bindingConfiguration="StudentServiceSoap"
    contract="Bi.Student.StudentServiceSoap" name="StudentServiceSoap" />
   <endpoint address="https://bsite.net/chimlachoai/Services/StudentResponseService.asmx"
    binding="basicHttpBinding" bindingConfiguration="StudentResponseServiceSoap"
    contract="Bi.StudentResponse.StudentResponseServiceSoap" name="StudentResponseServiceSoap" />
   <endpoint address="https://bsite.net/chimlachoai/Services/StudentResultService.asmx"
    binding="basicHttpBinding" bindingConfiguration="StudentResultServiceSoap"
    contract="Bi.StudentResult.StudentResultServiceSoap" name="StudentResultServiceSoap" />
   <endpoint address="https://bsite.net/chimlachoai/Services/SubjectApiService.asmx"
    binding="basicHttpBinding" bindingConfiguration="SubjectApiServiceSoap"
    contract="Bi.Subject.SubjectApiServiceSoap" name="SubjectApiServiceSoap" />
  </client>
 </system.serviceModel>
</configuration>