<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Core" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.5.1" newVersion="1.11.5.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="QuestionServiceSoap" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
    <binding name="SubjectServiceSoap" />
    <binding name="StudentServiceSoap" />
    <binding name="ManagerServiceSoap" />
    <binding name="StudentResultServiceSoap" />
    <binding name="StudentResponseServiceSoap" />
    <binding name="ExamServiceSoap" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:3902/Services/SubjectService.asmx" binding="basicHttpBinding" bindingConfiguration="SubjectServiceSoap" contract="Bi.Subject.SubjectServiceSoap" name="SubjectServiceSoap" />
   <endpoint address="http://localhost:3902/Services/StudentService.asmx" binding="basicHttpBinding" bindingConfiguration="StudentServiceSoap" contract="Bi.Student.StudentServiceSoap" name="StudentServiceSoap" />
   <endpoint address="http://localhost:3902/Services/ManagerService.asmx" binding="basicHttpBinding" bindingConfiguration="ManagerServiceSoap" contract="Bi.Manager.ManagerServiceSoap" name="ManagerServiceSoap" />
   <endpoint address="http://localhost:3902/Services/StudentResultService.asmx" binding="basicHttpBinding" bindingConfiguration="StudentResultServiceSoap" contract="Bi.StudentResult.StudentResultServiceSoap" name="StudentResultServiceSoap" />
   <endpoint address="http://localhost:3902/Services/StudentResponseService.asmx" binding="basicHttpBinding" bindingConfiguration="StudentResponseServiceSoap" contract="Bi.StudentResponse.StudentResponseServiceSoap" name="StudentResponseServiceSoap" />
   <endpoint address="http://localhost:3902/Services/ExamService.asmx" binding="basicHttpBinding" bindingConfiguration="ExamServiceSoap" contract="Bi.Exam.ExamServiceSoap" name="ExamServiceSoap" />
   <endpoint address="http://localhost:3902/Services/QuestionService.asmx" binding="basicHttpBinding" bindingConfiguration="QuestionServiceSoap" contract="Bi.Question.QuestionServiceSoap" name="QuestionServiceSoap" />
  </client>
 </system.serviceModel>
</configuration>